# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Ben\OneDrive - Waterford Institute of Technology\Year 2 Semester 1\Data Structures & Algorithms\Work\Week 3\MailList\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
